<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8" />
<title>Test Preferencias Hemisféricas - Kreios</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspdf@2.5.1/dist/jspdf.umd.min.js"></script>

</head>

<body>

<!-- FONDO -->
<div class="brain-bg"></div>

<header class="topbar">
  <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo"/>
  <div>
    <h1>Test de Preferencias Hemisféricas</h1>
    <p class="subtitle">Descubre cómo procesa información tu cerebro</p>
  </div>
</header>

<main class="container">

<!-- START -->
<section id="startScreen" class="start-full">

  <div class="start-container">

    <div class="start-left">
      <h1>¿Cómo piensa <span>tu mente?</span></h1>

      <p class="desc">
        Descubre tu estilo dominante de pensamiento y cómo influye en tu forma de trabajar.
      </p>

      <ul class="steps">
        <li>Recorrerás 3 mapas de palabras, cada uno con decenas de opciones.</li>
        <li>En cada mapa elige las 8 palabras con las que más te identifiques.</li>
        <li>Al final descubrirás tu perfil de pensamiento dominante</li>
      </ul>

      <input type="text" id="nombre" placeholder="Nombre completo">
      <input type="email" id="correo" placeholder="correo@empresa.com">

      <button id="startBtn" class="btn-start">Comenzar test</button>
    </div>

    <div class="start-right">
      <img src="{{ url_for('static', filename='images/logo.png') }}">
    </div>

  </div>

</section>

<!-- INTRO -->
<section id="intro" class="card intro">
<h2>🧠 ¿Cómo funciona?</h2>
<p>Selecciona las 8 palabras con las que más te identifiques.</p>
</section>

<!-- MAPA -->
<section id="mapSection" class="card">
<div id="mapas"></div>
<div class="contador-box">
  <div class="barra-segmentos" id="barraSegmentos"></div>

  <div class="contador-texto">
    <span id="count">0</span> / 8 palabras
  </div>

  <div class="faltantes" id="faltantes">Faltan 8</div>
</div>
</section>

<div class="controls">
<button id="prev" class="btn btn-secondary">Anterior</button>
<button id="next" class="btn">Siguiente</button>
</div>

<!-- RESULTADO -->
<section id="resultado" class="card">

<h2 class="titulo-resultado">🧠 Resultados</h2>

<div id="dashboard"></div>

<div class="chart-box">
  <canvas id="chart"></canvas>
</div>

<button id="descargar" class="btn">Descargar PDF</button>

</section>

</main>

<footer class="footer">© Kreios</footer>

<div id="progress"><div id="progress-bar"></div></div>

<script src="{{ url_for('static', filename='js/maps.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>